$cor-fundo: #E0F4FF;
$cor-botao: #39A7FF;
$cor-borda: #87C4FF;
$cor-texto: #6499E9;

.Login {
  background-color: $cor-fundo;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-form {
    color: $cor-texto;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .field-form {
      border: 2px solid $cor-borda;
      border-radius: 8px;
      padding: 40px;
      margin-bottom: 20px;
      width: 50vh;

      .legend-form {
        font-size: 18px;
        color: $cor-texto;
        margin-bottom: 10px;
      }

      label {
        display: block;
        color: $cor-texto;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid $cor-borda;
        border-radius: 5px;
        background-color: $cor-fundo;
        color: $cor-texto;
      }

      .btn-login {
        background-color: $cor-botao;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
          background-color: darken($cor-botao, 10%);
        }
      }
    }
  }
  @media (max-width: 600px) {
    .form .field-form {
      width: 90%;
    }
  }
}


